* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

body {
  background-color: var(--light-background);
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  z-index: 1;
  width: 98%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  border-radius: 15px;
  background-color: var(--element-light);
  margin: 10px 0 10px 0;
  cursor: pointer;
}

nav .logo {
  background-color: #ff6249;
  border-radius: 15px;
  padding: 1px 5px 1px 5px;
  margin: 5px;
  color: white;
  align-items: center;
}

.searchbar {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav #searchbox {
  border-radius: 20px;
  background-color: var(--light-background);
  color: var(--text-light);
  padding: 5px;
  margin: auto;
  font-size: 15px;
  width: 70%;
  height: 50%;
}

.post-button {
  border-radius: 25px;
  padding: 5px;
  height: 70%;
  width: 25%;
  margin: auto;
  border: solid 3px #ff6249;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff6249;
}

.post-button:hover{
  background-color: #ff6249;
  color: white;
  font-size: 2vh;
}

.sidebar {
  position: fixed;
  font-size: 25px;
  top: 10%;
  left: 15px;
  background-color: var(--element-light);
  color: var(--text-light);
  width: 15%;
  height: 85%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .menu-container {
  padding: 30px 0 10px 0;
}

.sidebar .menu-container .menu-item:hover {
  background-color: #f5715c;
  padding: 5px;
  font-size: 30px;
  border-radius: 15px 0 0 15px;
}

.sidebar .menu-container .menu-item {
  padding: 10px 0 10px 20px;
  text-decoration: none;
  display: block;
  color: var(--text-color);
  font-size: 25px;
  cursor: pointer;
}

.sidebar .account {
  padding: 5px;
  margin: 5px;
  border: solid #ff6249;
  border-radius: 15px;
  height: auto;
  display: flex;
}

.sidebar .account a{
  color: var(--text-color);
  text-decoration: none;
}

#main-page {
  border-left: solid #ff6249 8px;
  background-color: var(--light-background);
}

/* video container style */
.Voice-container {
  margin-left: calc(15% + 30px);
  margin-top: 88px;
  width: 80%;
  height: 85%;
  padding: 10px;
  position: fixed;
  border-radius: 15px;
  color: var(--text-light);
  background-color: var(--element-light);
}

.type-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: var(--light-background);
  padding: 5px;
  border-radius: 15px;
}

.type-container button {
  font-size: 25px;
  height: 30px;
  width: 30%;
  border-radius: 15px;
  border: none;
  background-color: var(--light-background);
  color: var(--text-light);
}

.type-container button:hover {
  background-color: var(--element-light);  
}

.type-container button.active {
  background-color: #ff6249;
  color: white;
}

.voice{
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  width: 100%;
  height: 95%;
  flex-wrap: wrap;
  overflow: scroll;
}

.voice-box {
  width: 45%;
  height: 250px;
  background-color: var(--light-background);
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  float: left;
}

.voice-box .title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 5%;
}

.voice-box .title .main-title:hover {
  text-decoration: underline red;
}

.voice-box .title .description {
  font-size: 25px;
  font-weight: normal;
  margin-top: 15px;
}

.voice-box .status {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  text-transform: uppercase;
  color: white;
  padding: 2px 8px 2px 8px;
  border-radius: 10px;
}

.voice-box .host {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: #f5715c;
  font-size: 30px;
}

.voice-box .host img{
  width: 8%;
  height: 100%;
  border-radius: 50%;
}

.voice-box .host p{
  margin: auto;
  margin-left: 10px;
}

/* dark mode */
:root{
  --light-background: #f0f2f5;
  --dark-background: #18191a;
  --element-light: #ffffff;
  --text-light: black;
  --element-dark: #242526;
  --text-dark: white;
}

html[data-theme="dark"]{
  --dark-background: #f0f2f5;
  --light-background: #18191a;
  --element-dark: #ffffff;
  --text-dark: black;
  --element-light: #242526;
  --text-light: white;
}



.light{
  color: black;
}

.dark{
  color:white;
}

.light-bg{
  background-color: var(--light-background);
}

.dark-bg{
  background-color: var(--dark-backgound);
}

.light-element{
  background-color: var(--element-light);
}

.dark-element{
  background-color: var(--element-dark);
}